

body {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}
a {
    text-decoration: none;
}

main {
    display: flex;
}

.wrapper {
    max-width: 50rem;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    margin: 0 auto;
    color: #222;
}
main,header{
    margin:1rem;
    line-height: 1.8rem;
}

footer {
    text-align: right;
    margin-bottom: 2rem;
    border-top: 1px #888 solid;
}
footer img{
    height: 30px;
    width: 30px;
}
footer span {
    margin-right: 2rem;
}


footer span {
    font-size:1.25rem;
}

header a {
    color:#222
}
header {
    display: flex;
}
header h1 {
    margin-right: 17rem;
}
header ul {
    display: flex;
    list-style: none;
    font-size:1.3rem;
    align-items: center;
    justify-content: space-around;
}
header ul li {
    flex: 1;
    border-bottom: 1px #222 dotted;
    margin: 0 0.5rem;
}
header nav {
    text-align: right;
}

.innerimg {
    object-fit:cover;
    width: 45rem;
    margin: auto;
    cursor: pointer;
}