.imgs ul{
    display:grid;
    /* max-width: 100%; */
    grid-template-columns: 33% 33% 33%;
    /* grid-template-rows: 33% 33% 200px; */
    gap: 0.2rem;
}

.imgs img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    box-sizing: border-box;
}

.imgs.bigger img{
    height: 100%;
    width: height;
}

.imgs img:hover{
    border: grey solid 2px;

}

.imgs ul{
    list-style: none;
}
.imgs ul{
    margin: none;
}
